$color-blue: #1786eb;
$color-teal: #4ad3db;
$color-yellow: #ebe694;
$color-darkgray: #2c2b30;
$color-gray: #5d5c61;
$color-lightgray: #e5ecf1;
$color-white: #f4f7f9;

$heading1: 32px;
$heading2: 25px;
$heading3: 20px;
$heading4: 16px;
$heading5: 12px;