@import 'config';
@import 'modules/mixins';
@import 'lib/grid'; 


body {
 margin: 0px; 
}


.tagline {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  > div {
    border: 1px solid black;
    background-color: yellow;
    height: 50px;
  }
}


.btn {
  display: inline-block;
  text-decoration: none;
  height: 50px;
  padding: 15px 20px;
  border-radius: 4px;
  
  background-color: #c1c1c1;
  color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  
  font-size: 1em;
  
  &:hover {

  }

  // Primary _config.scss
  /**
   * Primary
   * @var $color-primary
   * @required _config.scss
   */
  &.btn--primary {
    background-color: $color-primary;

    &:hover {
      background-color: darken($color-primary, 7);

    }
  }
}

#hero {
  background: url('/assets/img/bannerimage_boy.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100%;
  padding: 160px 0 0 0;
  display: block; 
  margin: auto;

  color: white;
}

ul {
  list-style-type: none;
  li {
    display: inline;
  }
  font-family: 'Open Sans', sans-serif;
}

