<footer id="footer" class="footer footer-main @@footer_class">
  <div class="row">

      <div class="col-12">
  
        <div class="col-3 footer-menu">
          <ul>
            <li>NEWS & RESOURCES</li>
            <li>WHAT'S YOUR VISTA STORY</li>
            <li>JOBS</li>
            <li>CAREER</li>
          </ul>
        </div>

        <div class="col-7 email">
          <h2>Stay in the loop</h2>
          <h3>Learn more about what we are up to by give your email below.</h3>
          <div id="wrapper">
            <input type="text" name="firstname" placeholder="email@example.com" class="enter-email">
            <a href="#" class="btn btn--submit"><i class="fa fa-caret-right"></i></a>
          </div>
          
        </div>

        <div class="col-1 social">
          <ul>
            <li><a href="#" class="btn btn--social"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="btn btn--social"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="btn btn--social"><i class="fa fa-instagram"></i></a></li>
          </ul>
          
          
          
        </div>
      </div>
        
        
  </div>


</footer>

</div><!-- #app -->
  
	
<div id="modals"></div>

<!-- jQuery CDN or localhost fallback -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="components/jquery/dist/jquery.min.js"><\/script>')</script>

<!-- Bower Components -->
<script src="assets/components/flexslider/jquery.flexslider-min.js"></script>

<!-- Simple Plugins and main Application JS -->
<script src="assets/js/plugins.js"></script>
<script src="assets/js/app.js"></script>

 
</body>
</html>